<header data-test="header" data-current-styles="{
    &quot;layout&quot;: &quot;navRight&quot;,
    &quot;action&quot;: {
    &quot;href&quot;: &quot;/contact-us.html&quot;,
    &quot;buttonText&quot;: &quot;Contact Us&quot;,
    &quot;newWindow&quot;: false
    },
    &quot;showSocial&quot;: false,
    &quot;socialOptions&quot;: {
    &quot;socialBorderShape&quot;: &quot;none&quot;,
    &quot;socialBorderStyle&quot;: &quot;outline&quot;,
    &quot;socialBorderThickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    },
    &quot;sectionTheme&quot;: &quot;dark&quot;,
    &quot;menuOverlayTheme&quot;: &quot;dark&quot;,
    &quot;menuOverlayAnimation&quot;: &quot;fade&quot;,
    &quot;cartStyle&quot;: &quot;cart&quot;,
    &quot;cartText&quot;: &quot;Cart&quot;,
    &quot;showEmptyCartState&quot;: true,
    &quot;cartOptions&quot;: {
    &quot;iconType&quot;: &quot;solid-7&quot;,
    &quot;cartBorderShape&quot;: &quot;none&quot;,
    &quot;cartBorderStyle&quot;: &quot;outline&quot;,
    &quot;cartBorderThickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    },
    &quot;showButton&quot;: true,
    &quot;showCart&quot;: false,
    &quot;showAccountLogin&quot;: true,
    &quot;headerStyle&quot;: &quot;dynamic&quot;,
    &quot;languagePicker&quot;: {
    &quot;enabled&quot;: false,
    &quot;iconEnabled&quot;: false,
    &quot;iconType&quot;: &quot;globe&quot;,
    &quot;flagShape&quot;: &quot;shiny&quot;,
    &quot;languageFlags&quot;: [ ]
    },
    &quot;iconOptions&quot;: {
    &quot;dropdownThickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    },
    &quot;endcapType&quot;: &quot;square&quot;,
    &quot;desktopDropdownIconOptions&quot;: {
    &quot;iconSize&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 16.0
    },
    &quot;spacing&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 8.0
    },
    &quot;folderDropdownIcon&quot;: &quot;none&quot;,
    &quot;languagePickerIcon&quot;: &quot;openArrowHead&quot;
    },
    &quot;mobileDropdownIconOptions&quot;: {
    &quot;iconSize&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 20.0
    },
    &quot;spacing&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 8.0
    },
    &quot;folderDropdownIcon&quot;: &quot;openArrowHead&quot;,
    &quot;languagePickerIcon&quot;: &quot;openArrowHead&quot;
    }
    },
    &quot;mobileOptions&quot;: {
    &quot;layout&quot;: &quot;logoLeftNavRight&quot;,
    &quot;menuIconOptions&quot;: {
    &quot;style&quot;: &quot;doubleLineHamburger&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 1.0
    }
    }
    },
    &quot;solidOptions&quot;: {
    &quot;headerOpacity&quot;: {
    &quot;unit&quot;: &quot;%&quot;,
    &quot;value&quot;: 100.0
    },
    &quot;blurBackground&quot;: {
    &quot;enabled&quot;: false,
    &quot;blurRadius&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    }
    },
    &quot;backgroundColor&quot;: {
    &quot;type&quot;: &quot;SITE_PALETTE_COLOR&quot;,
    &quot;sitePaletteColor&quot;: {
    &quot;colorName&quot;: &quot;white&quot;,
    &quot;alphaModifier&quot;: 1.0
    }
    },
    &quot;navigationColor&quot;: {
    &quot;type&quot;: &quot;SITE_PALETTE_COLOR&quot;,
    &quot;sitePaletteColor&quot;: {
    &quot;colorName&quot;: &quot;black&quot;,
    &quot;alphaModifier&quot;: 1.0
    }
    }
    },
    &quot;gradientOptions&quot;: {
    &quot;gradientType&quot;: &quot;faded&quot;,
    &quot;headerOpacity&quot;: {
    &quot;unit&quot;: &quot;%&quot;,
    &quot;value&quot;: 90.0
    },
    &quot;blurBackground&quot;: {
    &quot;enabled&quot;: false,
    &quot;blurRadius&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    }
    },
    &quot;backgroundColor&quot;: {
    &quot;type&quot;: &quot;SITE_PALETTE_COLOR&quot;,
    &quot;sitePaletteColor&quot;: {
    &quot;colorName&quot;: &quot;white&quot;,
    &quot;alphaModifier&quot;: 1.0
    }
    },
    &quot;navigationColor&quot;: {
    &quot;type&quot;: &quot;SITE_PALETTE_COLOR&quot;,
    &quot;sitePaletteColor&quot;: {
    &quot;colorName&quot;: &quot;black&quot;,
    &quot;alphaModifier&quot;: 1.0
    }
    }
    },
    &quot;dropShadowOptions&quot;: {
    &quot;enabled&quot;: false,
    &quot;blur&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    },
    &quot;spread&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 0.0
    },
    &quot;distance&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    }
    },
    &quot;borderOptions&quot;: {
    &quot;enabled&quot;: false,
    &quot;position&quot;: &quot;bottom&quot;,
    &quot;thickness&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 4.0
    },
    &quot;color&quot;: {
    &quot;type&quot;: &quot;SITE_PALETTE_COLOR&quot;,
    &quot;sitePaletteColor&quot;: {
    &quot;colorName&quot;: &quot;darkAccent&quot;,
    &quot;alphaModifier&quot;: 1.0
    }
    }
    },
    &quot;showPromotedElement&quot;: false,
    &quot;buttonVariant&quot;: &quot;primary&quot;,
    &quot;blurBackground&quot;: {
    &quot;enabled&quot;: false,
    &quot;blurRadius&quot;: {
    &quot;unit&quot;: &quot;px&quot;,
    &quot;value&quot;: 12.0
    }
    },
    &quot;headerOpacity&quot;: {
    &quot;unit&quot;: &quot;%&quot;,
    &quot;value&quot;: 100.0
    }
    }" data-section-id="header" data-header-style="dynamic" data-language-picker="{
    &quot;enabled&quot;: false,
    &quot;iconEnabled&quot;: false,
    &quot;iconType&quot;: &quot;globe&quot;,
    &quot;flagShape&quot;: &quot;shiny&quot;,
    &quot;languageFlags&quot;: [ ]
    }" data-first-focusable-element tabindex="-1" style="
    --headerBorderColor: hsla(var(--darkAccent-hsl), 1);
    --solidHeaderBackgroundColor: hsla(var(--white-hsl), 1);
    --solidHeaderNavigationColor: hsla(var(--black-hsl), 1);
    --gradientHeaderBackgroundColor: hsla(var(--white-hsl), 1);
    --gradientHeaderNavigationColor: hsla(var(--black-hsl), 1);
    " id="header" class="dark header theme-col--primary" data-section-theme="dark"
data-controller="Header">
<div class="sqs-announcement-bar-dropzone"></div>
<div class="header-announcement-bar-wrapper">
    <a href="#page" class="header-skip-link sqs-button-element--primary">
        Skip to Content
    </a>
    <style>
        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            .header-blur-background {}
        }
    </style>
    <div class="header-border" data-header-style="dynamic" data-header-border="false"
        data-test="header-border" style=""></div>
    <div class="header-dropshadow" data-header-style="dynamic" data-header-dropshadow="false"
        data-test="header-dropshadow" style=""></div>
    <div class='header-inner container--fluid
header-mobile-layout-logo-left-nav-right
header-layout-nav-right
' data-test="header-inner">
        <!-- Background -->
        <div class="header-background theme-bg--primary"></div>
        <div class="header-display-desktop" data-content-field="site-title">
            <!-- Social -->
            <!-- Title and nav wrapper -->
            <div class="header-title-nav-wrapper">
                <!-- Title -->
                <div class="
          header-title
        " data-animation-role="header-element">
                    <div class="header-title-logo">
                        <a href="/" data-animation-role="header-element">
                            <img elementtiming="nbf-header-logo-desktop"
                                src="//images.squarespace-cdn.com/content/v1/60318df8847e1312f5338a78/1614190333747-F6S46HMWUYQBC0D2FNAN/InterPrivateAcquisitionPartners_AllWhite.png?format=1500w"
                                alt="InterPrivate Acquisition Partners" style="display:block"
                                fetchpriority="high" loading="eager" decoding="async" data-loader="raw">
                        </a>
                    </div>
                </div>
                <!-- Nav -->
                <div class="header-nav">
                    <div class="header-nav-wrapper">
                        <nav class="header-nav-list">
                            <div class="header-nav-item header-nav-item--collection">
                                <a href="/ipvspac_archive/team.html" data-animation-role="header-element">
                                    Team
                                </a>
                            </div>
                            <div class="header-nav-item header-nav-item--folder">
                                <a class="header-nav-folder-title" href="/new-folder" tabindex="-1"
                                    data-animation-role="header-element">
                                    Our SPACs
                                </a>
                                <div class="header-nav-folder-content">
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/ipvf.html">
                                            <span class="header-nav-folder-item-content">
                                                InterPrivate III Financial Partners Inc.
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/ipvi.html">
                                            <span class="header-nav-folder-item-content">
                                                InterPrivate IV InfraTech Partners Inc.
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-item header-nav-item--folder">
                                <a class="header-nav-folder-title" href="/portfolio" tabindex="-1"
                                    data-animation-role="header-element">
                                    Portfolio
                                </a>
                                <div class="header-nav-folder-content">
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/aeva.html">
                                            <span class="header-nav-folder-item-content">
                                                Aeva
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/getr.html">
                                            <span class="header-nav-folder-item-content">
                                                Getaround
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-item header-nav-item--folder">
                                <a class="header-nav-folder-title" href="/news" tabindex="-1"
                                    data-animation-role="header-element">
                                    News
                                </a>
                                <div class="header-nav-folder-content">
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/ipos.html">
                                            <span class="header-nav-folder-item-content">
                                                IPOs
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/business-combinations.html">
                                            <span class="header-nav-folder-item-content">
                                                Business Combinations
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-item header-nav-item--folder">
                                <a class="header-nav-folder-title" href="/documents" tabindex="-1"
                                    data-animation-role="header-element">
                                    Documents
                                </a>
                                <div class="header-nav-folder-content">
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/sec-filings.html">
                                            <span class="header-nav-folder-item-content">
                                                SEC Filings
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/corporate-governance.html">
                                            <span class="header-nav-folder-item-content">
                                                Corporate Governance
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/legal.html">
                                            <span class="header-nav-folder-item-content">
                                                Legal
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Actions -->
            <div class="header-actions header-actions--right">
                <div class="showOnMobile">
                </div>
                <div class="showOnDesktop">
                </div>
                <div class="header-actions-action header-actions-action--cta"
                    data-animation-role="header-element">
                    <a class="btn btn--border theme-btn--primary-inverse sqs-button-element--primary"
                        href="/contact-us.html">
                        Contact Us
                    </a>
                </div>
            </div>
            <style>
                .top-bun,
                .patty,
                .bottom-bun {
                    height: 1px;
                }
            </style>
            <!-- Burger -->
            <div class="header-burger menu-overlay-has-visible-non-navigation-items"
                data-animation-role="header-element">
                <button class="header-burger-btn burger" data-test="header-burger">
                    <span hidden class="js-header-burger-open-title visually-hidden">Open Menu</span>
                    <span hidden class="js-header-burger-close-title visually-hidden">Close Menu</span>
                    <div class="burger-box">
                        <div class="burger-inner header-menu-icon-doubleLineHamburger">
                            <div class="top-bun"></div>
                            <div class="patty"></div>
                            <div class="bottom-bun"></div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="header-display-mobile" data-content-field="site-title">
            <!-- Social -->
            <!-- Title and nav wrapper -->
            <div class="header-title-nav-wrapper">
                <!-- Title -->
                <div class="header-title" data-animation-role="header-element">
                    <div class="header-title-logo">
                        <a href="/" data-animation-role="header-element">
                            <img elementtiming="nbf-header-logo-desktop"
                                src="//images.squarespace-cdn.com/content/v1/60318df8847e1312f5338a78/1614190333747-F6S46HMWUYQBC0D2FNAN/InterPrivateAcquisitionPartners_AllWhite.png?format=1500w"
                                alt="InterPrivate Acquisition Partners" style="display:block"
                                fetchpriority="high" loading="eager" decoding="async" data-loader="raw">
                        </a>
                    </div>
                </div>
                <!-- Nav -->
                <div class="header-nav">
                    <div class="header-nav-wrapper">
                        <nav class="header-nav-list">
                            <div class="header-nav-item header-nav-item--collection">
                                <a href="/ipvspac_archive/team.html" data-animation-role="header-element">
                                    Team
                                </a>
                            </div>
                            <div class="header-nav-item header-nav-item--folder">
                                <a class="header-nav-folder-title" href="/new-folder" tabindex="-1"
                                    data-animation-role="header-element">
                                    Our SPACs
                                </a>
                                <div class="header-nav-folder-content">
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/ipvf.html">
                                            <span class="header-nav-folder-item-content">
                                                InterPrivate III Financial Partners Inc.
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/ipvi.html">
                                            <span class="header-nav-folder-item-content">
                                                InterPrivate IV InfraTech Partners Inc.
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-item header-nav-item--folder">
                                <a class="header-nav-folder-title" href="/portfolio" tabindex="-1"
                                    data-animation-role="header-element">
                                    Portfolio
                                </a>
                                <div class="header-nav-folder-content">
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/aeva.html">
                                            <span class="header-nav-folder-item-content">
                                                Aeva
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/getr.html">
                                            <span class="header-nav-folder-item-content">
                                                Getaround
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-item header-nav-item--folder">
                                <a class="header-nav-folder-title" href="/news" tabindex="-1"
                                    data-animation-role="header-element">
                                    News
                                </a>
                                <div class="header-nav-folder-content">
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/ipos.html">
                                            <span class="header-nav-folder-item-content">
                                                IPOs
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/business-combinations.html">
                                            <span class="header-nav-folder-item-content">
                                                Business Combinations
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav-item header-nav-item--folder">
                                <a class="header-nav-folder-title" href="/documents" tabindex="-1"
                                    data-animation-role="header-element">
                                    Documents
                                </a>
                                <div class="header-nav-folder-content">
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/sec-filings.html">
                                            <span class="header-nav-folder-item-content">
                                                SEC Filings
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/corporate-governance.html">
                                            <span class="header-nav-folder-item-content">
                                                Corporate Governance
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-nav-folder-item">
                                        <a href="/ipvspac_archive/legal.html">
                                            <span class="header-nav-folder-item-content">
                                                Legal
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Actions -->
            <div class="header-actions header-actions--right">
                <div class="showOnMobile">
                </div>
                <div class="showOnDesktop">
                </div>
                <div class="header-actions-action header-actions-action--cta"
                    data-animation-role="header-element">
                    <a class="btn btn--border theme-btn--primary-inverse sqs-button-element--primary"
                        href="/contact-us.html">
                        Contact Us
                    </a>
                </div>
            </div>
            <style>
                .top-bun,
                .patty,
                .bottom-bun {
                    height: 1px;
                }
            </style>
            <!-- Burger -->
            <div class="header-burger menu-overlay-has-visible-non-navigation-items"
                data-animation-role="header-element">
                <button class="header-burger-btn burger" data-test="header-burger">
                    <span hidden class="js-header-burger-open-title visually-hidden">Open Menu</span>
                    <span hidden class="js-header-burger-close-title visually-hidden">Close Menu</span>
                    <div class="burger-box">
                        <div class="burger-inner header-menu-icon-doubleLineHamburger">
                            <div class="top-bun"></div>
                            <div class="patty"></div>
                            <div class="bottom-bun"></div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
</header>